body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    /* 1. Full page  background gradient color */
    background: linear-gradient(135deg, #2c3e50, #3498db);
    height: 100vh;
    margin: 0;
    padding-top: 100px;
}

.weather-box {
    width: 350px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    /* 2. Box  background color*/
    background-color: #ffffff;
    /* Box foursides shadow */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Heading color change */
.weather-box h1 {
    color: #2c3e50; 
    margin-bottom: 20px;
}

input {
    padding: 12px;
    width: 80%;
    border: 2px solid #ddd; /* Input ka border line color */
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

/* 3. click on input change the border color */
input:focus {
    border-color: #3498db; 
}

button {
    padding: 12px 20px;
    margin: 15px;
    cursor: pointer;
    /* 4. Button ka background Blue and text White */
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
}

/* 5. Button  (Hover effect) */
button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
       text-align: left; 
}

/* 6. Result paragraphs styling and color  */
#result p {
    background-color: #f8f9fa; 
    color: #333333; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    border-left: 4px solid #3498db; 
}
